<div class="container">
  <div class="header">
    <h4> GET YOUR PRICE ALERT NOW </h4>
  </div>

  <div class="searchbox">
    <%= form_tag products_path, method: :get, class: "search-form" do %>

      <%= text_field_tag :product,
        params[:product],
        class: "input100",
        placeholder: "Enter Product"
      %>

      <div class="dflex">
        <%= text_field_tag :postcode,
            params[:postcode],
            class: "input50",
            placeholder: "Enter Postcode"
        %>

        <%= text_field_tag :range,
            params[:range],
            class: "input50",
            placeholder: "Enter range"
        %>
      </div>
      <%= submit_tag "Search", class: "input100 cherry-btn" %>
    <% end %>
  </div>
</div>




<!--     <form action="/products" class='search-form'>
      <div class="dflex">
        <input type="text" name=search[product] class="input50">
        <input type="text" name=search[postcode] class="input50">
      </div>
      <input type="integer" name=search[range] class="input100">
      <input type="submit" class="input100 cherry-btn" value="Find products">
    </form>
  </div>

</div> -->









