<section class="landingpage-maincontent">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h1>Compare Supermarket Prices in your local area</h1>
            <p>Ut ipsum tellus, vulputate at vestibulum consequat, tempus id sapien. Duis tincidunt neque at elit gravida, vel auctor arcu dictum. Curabitur in diam sem.</p>
            <%= form_tag products_path, method: :get, class: "search-form" do %>
              <div class="input-group">
                 <!-- <input type="text"> -->
                 <%= text_field_tag :product, params[:product], class: "typed", placeholder: "Enter Product" %>
                 <span class="input-group-btn">
                      <%= submit_tag "Go", class: "button" %>
                      <!-- <a href class="button">Search</a> -->
                 </span>
              </div> <!-- end input-group -->
            <% end %>

          </div>
          <div class="col-4">
            <div class="basket">
              <%= image_tag "basket.png"%>
            </div>
          </div>
        </div>
      </div>
</section>

  <div class="main-footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <%= link_to "FAQ", pages_faq_path %>
        <%= link_to "About us", pages_about_path %>
      </div>
  </div>
</div>













