<div class="container">
  <div class="header">
    <h4> GET YOUR PRICE ALERT NOW </h4>
  </div>

  <div class="searchbox">
    <%= form_tag products_path, method: :get do %>

    <%= text_field_tag :product,
      params[:product],
      class: "form-control",
      placeholder: "Enter Product"
    %>

      <div class="flexbox">
        <%= text_field_tag :postcode,
            params[:postcode],
            class: "form-a",
            placeholder: "Enter Postcode"
        %>

        <%= text_field_tag :range,
            params[:range],
            class: "form-b",
            placeholder: "Enter range"
        %>
      </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
</div>


<% end %>


    <!---<form action="/products" class='search-form'>
      <div class="dflex">
        <input type="text" name=search[product] class="input50">
        <input type="text" name=search[postcode] class="input50">
      </div>
      <input type="integer" name=search[range] class="input100">
      <input type="submit" class="input100 cherry-btn" value="Find products">



    </form>
  </div>

</div>









