

<div class="custom-container">
  <div class="product-container">
    <h4> Your Product, in your area</h4>
      <div class="product-wrapper">
        <!-- left section -->
        <div class="product-image">
          <%= image_tag @product.image, alt: "alttext" %>
        </div>
        <!-- middle section -->
        <div class="product-show-card">
          <div class="product-show-details">
            <h1><%= @product.name %></h1>
              <div class="prod-price">
                <%= image_tag @product.supermarket.image, width: 80 %>
                <span class="product-price"><%= @product.price %></span>
              </div>
              <div class="product-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus in harum autem quas mollitia, unde, aliquam pariatur consectetur architecto nesciunt numquam vitae, optio possimus doloribus perferendis. Iusto dolorem commodi nesciunt.</p>
              </div>
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary rounded" data-toggle="modal" data-target="#exampleModalLong">
            SET A PRICE ALERT!
            </button>
          </div>
        </div>
        <!-- right section -->
        <div class="product-map">
          <%= image_tag "/assets/map.png", alt: "alttext"  %>
        </div>
    </div>
  </div>
</div>

  <div class="custom-container">
    <div class="bottom-section">
      <h6>Also available at</h6>
        <div class="container">
          <div class="other-products-wrapper">
            <% @other_ones.each do |other_product| %>
              <%# raise %>
            <div class="card-left">
              <%= image_tag other_product.image, alt: "alttext" %>
              <div class="card-info">
                <div class="card-supermkt-name">
                  <p><%= other_product.name %></p>
                </div>
                <div class="card-supermkt-infos">
                  <span class="card-product-price"><%= other_product.price %></span>
                  <div class="spmkt-img">
                    <%= image_tag other_product.supermarket.image  %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-confetti" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.name %></h5> -->
       <h5>CONGRATULATIONS</h5>
         <%= image_tag "/assets/celebration.png", alt: "alttext",  class: "confetti" %>
        <button type="button" class="pop-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @product.user_products.map { |e| e.user_id }.include?(current_user.id) %>
          Your Price alert is all set <br>
          <%= link_to "watchlist", user_path(current_user), class: "btn"  %>!
          <br>
        <% else %>
          <%= @product.supermarket.name %>,
          <%= render "user_products/form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




