

<div class="custom-container">
  <div class="product-container">
    <h3> Your Product, in your area</h3>

    <div class="product-wrapper">
      <!-- left section -->
      <div class="product-image">
        <%= image_tag @product.image, alt: "alttext" %>
      </div>

      <!-- middle section -->
      <div class="product-show-card">
        <div class="product-show-details">
          <h4 class="product-show-header"><%= @product.name %></h4>
          <img class="supermarket-logo" src="" alt="">
          <span class="product-price">£2.99</span>

          <div class="product-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus in harum autem quas mollitia, unde, aliquam pariatur consectetur architecto nesciunt numquam vitae, optio possimus doloribus perferendis. Iusto dolorem commodi nesciunt.

          </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn-2" data-toggle="modal" data-target="#exampleModalLong">
            SET A PRICE ALERT!
          </button>
        </div>
      </div>
      <!-- right section -->
      <div class="product-map">
        <%= image_tag "/assets/map.png", alt: "alttext"  %>
    </div>
  </div>
  <div class="right section">
    <div class="top sub-section">
      <h4><strong>Other Supermarkets</strong></h4>
      <div class="other-products">
        <% @other_ones.each do |other| %>
          <div class="other-product mb-2">
            <%= link_to product_path(other) do %>
              <div class="flex-box">
              <div class="details">
                  <div style="margin-top: 20px">
                  <%= image_tag other.supermarket.image, alt: "alttext" %>
                  </div>
                  <div class="other-details">
                  <h6><strong><%= @product.name %></strong></h6>
                  <p><strong><%= other.supermarket.name %></strong></p>
                  <p><strong><%= other.price %></strong></p>
                </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

     <div class="bottom-section">
      <h6> OTHER DETAILS AVALIABLE</h6>

      <div class="other-products-wrapper">
        <div class="card-left">
        </div>
        <div class="card-middle">

        </div>
        <div class="card-right">
        </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-confetti" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLongTitle"><%= @product.name %></h5> -->
       <h5>CONGRATULATIONS</h5>
         <%= image_tag "/assets/celebration.png", alt: "alttext",  class: "confetti" %>
        <button type="button" class="pop-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @product.user_products.map { |e| e.user_id }.include?(current_user.id) %>
          Your Price alert is all set <br>
          <%= link_to "watchlist", user_path(current_user), class: "btn"  %>!
          <br>
        <% else %>
          <%= @product.supermarket.name %>,
          <%= render "user_products/form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>




